{% extends "base.html" %}
{% block content %}

    <h3>Add Category</h3>


    <form method="POST" action="{{ url_for('add_category') }}">
    
        
    <!-- task name -->
    <div class="mb-3 w-50 p-3">
        <input id="task_name" name="task_name" minlength="5" maxlength="50"
        type="text" class="validate" required>
    <label for="task_name">Task Name</label>
      </div>
       
      <!-- submit button -->
      </div>
      <button type="submit" class="btn btn-dark">Add Task <i class="fas fa-plus-square right"></i></button>
    
    </form>

{% endblock %}