{% extends "base.html" %}
{% block content %}

    <h3>Add Task</h3>


    <form method="POST" action="">
    <div class="mb-3 w-50 p-3">
        <input id="task_name" name="task_name" minlength="5" maxlength="50"
        type="text" class="validate" required>
    <label for="task_name">Task Name</label>
      </div>
      <div class="mb-3 w-50 p-3">
        <textarea id="task_description" name="task_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="task_description">Task Description</label>
      </div>
      <div class="form-check form-switch">
            <i class="fas fa-exclamation-circle prefix"></i>
            <label for="is_urgent">
                <input type="checkbox" id="is_urgent" name="is_urgent">
                <span class="lever"></span>
                Is Urgent
            </label>
      </div>
    
    </form>

{% endblock %}