{% extends "base.html" %}
{% block content %}

    <h3>Add Task</h3>


    <form method="POST" action="">
        <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Task Category</label>
				</div>
			</div>
    <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
    </div>
    <div class="mb-3 w-50 p-3">
        <input id="task_name" name="task_name" minlength="5" maxlength="50"
        type="text" class="validate" required>
    <label for="task_name">Task Name</label>
      </div>
      <div class="mb-3 w-50 p-3">
        <textarea id="task_description" name="task_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="task_description">Task Description</label>
      </div>
      <div class="form-check form-switch">
            <i class="fas fa-exclamation-circle prefix"></i>
            <label for="is_urgent">
                <input type="checkbox" id="is_urgent" name="is_urgent">
                <span class="lever"></span>
                Is Urgent
            </label>
      </div>
    
    </form>

{% endblock %}