{% extends "base.html" %}
{% block content %}

    <h3>Edit Task</h3>


    <form method="POST" action="{{ url_for('edit_task', task_id=task._id) }}">
       <!-- category selection -->
        <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == task.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="category_name">Task Category</label>
				</div>
			</div>
    <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
    </div> -->
    <!-- task name -->
    <div class="mb-3 w-50 p-3">
        <input id="task_name" name="task_name" minlength="5" maxlength="50"
        type="text" class="validate" value="{{ task.task_name }}" required>
    <label for="task_name">Task Name</label>
      </div>
       <!-- task description -->
      <div class="mb-3 w-50 p-3">
        <textarea id="task_description" name="task_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>{{- task.task_description -}}</textarea>
                    <label for="task_description">Task Description</label>
      </div>
        <!-- is urgent toggle -->
      <div class="form-check form-switch">
            <i class="fas fa-exclamation-circle prefix"></i>
            <label for="is_urgent">
                {% if task.is_urgent == "on" %}
                                <input type="checkbox" id="is_urgent" name="is_urgent" checked>
                            {% else %}
                                <input type="checkbox" id="is_urgent" name="is_urgent">
                            {% endif %}
                <span class="lever"></span>
                Is Urgent
            </label>
    
      
      </div>
       <!-- cancel button -->
       <a href="{{ url_for('get_recipes') }}" class="btn">
        Cancel <i class="fas fa-times-circle right"></i>
    </a>
        <!-- submit button -->
      <button type="submit" class="btn btn-dark">Edit <i class="fas fa-edit right"></i></button>
     
    
    </form>

{% endblock %}