{% extends "base.html" %}



{% block content_without_container %}
<!-- website header and hero image -->
<div class="hero-image">
    <div class="hero-text">
       <h1>Three steps how to use the students recipes website</h1>
    </div>
 </div>
 <!-- information how to use website -->
 <section class="py-3">
    <div class="container">
       <div class="row">
          <div class="col-lg-4">
             <h2><i class="fas fa-hand-pointer"></i>1.  Register or login as user</h2>
             <p>Once you have loged in as a user you will be able to create recipes that all other students will be able to see.</p>
          </div>
          <div class="col-lg-4">
             <h2><i class="fas fa-sliders-h"></i> 2. Make your recipes and save them to the database for everyone to see.</h2>
             <p>Create, Edit, Update and Delete any of the recipes you would like to add by clicking on the new recipe button.</p>
          </div>
          <div class="col-lg-4">
             <h2><i class="fas fa-chart-bar"></i> 3. Enjoy seeing everyone's recipes</h2>
             <p>Once you have created a recipe it will live in our database for all other students to try out and enjoy. Don't worry though only you will be able to edit and delete this recipe.</p>
          </div>
       </div>
    </div>
 </section>
{% endblock %}





{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">All Tasks</h3>

    <div class="accordion" id="accordionExample">
      {% for recipe in recipes %}
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>{{ recipe.recipe_name }}</strong> 
   
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>{{ recipe.category_name }}</strong>
                <img src="{{ recipe.photo }}" class="img-fluid">
                <p>{{ recipe.recipe_description }}</p>
                <p><em>by: {{ recipe.created_by }}</em></p>
                <h4>Ingredients:</h4>
                <ul>
                {% for ingredient in recipe.ingredients %}
                  <li>{{ ingredient.name }} ({{ ingredient.amount }} {{ ingredient.measure }}) </li>


                {% endfor %}
              </ul>
            </div>
            <div>
              {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn"> Delete</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn">Edit</a>
              {% endif %}
          </div>
          </div>
          {% endfor %}
        </div>

        



{% endblock %}