{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">All Tasks</h3>

    <h2>I'm extending the base template!</h2>
    {% for task in tasks %}
        {{ task.task_name }}<br>
        {{ task.category_name }}<br>
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}<br>
    {% endfor %}

    <div class="accordion" id="accordionExample">
      {% for task in tasks %}
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
              {% if task.is_urgent == "off" %}
              <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
              ></i>
              {% endif %}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>{{ task.category_name }}</strong>
                <p>{{ task.task_description }}</p>
                <p><em>by: {{ task.created_by }}</em></p>
            </div>
            <div>
              <i></i>
              <a href="" class="btn"> Done</a>
              <a href="" class="btn">Edit</a>
          </div>
          </div>
          {% endfor %}
        </div>

        



{% endblock %}